<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <a href="{{ url_for('login_user') }}"> Zurück zu Login </a>

    <h1>Welcome, {{ user[1] }}!</h1>
    
    <h2>Available Restaurants in Your Area</h2>
    {% if restaurants %}
        <ul>
            {% for restaurant in restaurants %}
                <li>
                    <h3><a href="{{ url_for('restaurant_detail', restaurant_id=restaurant[0]) }}">{{ restaurant[1] }}</a></h3>
                    <p>{{ restaurant[4] }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No restaurants available in your area at the moment.</p>
    {% endif %}

    <!-- Add other user dashboard content as needed -->
    <a href="{{ url_for('customer_orders') }}"> Orders </a>
</body>
</html>
